{% extends 'base_pages.html.twig' %}

{% block title %}Fiche de Recette{% endblock %}

{% block body %}

<!-- myCSS -->
<link rel="stylesheet" href="{{ asset('ASSETS/CSS/style_recettes.css') }}">


{# PREPARE NOTE RETRIEVAL IF EXISTS FOR THIS RECEIPE #}
{% set noteval = 0 %}
{% set message = '' %}
{% set datemsg = '' %}


{% for note in notes %}
    {% set noteval = note.note %}
    {% set message = note.avis %}
    {% set datemsg = note.dateavis %}
{% endfor %}


{# SHOW THE RECEIPE #}
<div class="p-1 p-sm-5">

    <div class="col-12 roundApricot py-2">
        <h2 class="text-center">
            FICHE DE RECETTE
        </h2>

        <h1 class="h2 text-center">
            {{ recette.titre|capitalize }}
        </h1>
    </div>    

<article class="container-fluid borderApricot py-3">
    <div class="row max-1800 mx-auto">

        {# Show times to prepare this receipe #}
        <div class="col-12 col-lg-6">
            <div class="max-400 mx-auto mb-3">
                <p class="">
                    {{ recette.description|capitalize }}
                </p>
            </div>
        </div>    
        <div class="col-12 col-lg-6">

            {% if (recette.tempsPreparation) %}
                <div>
                    Temps de préparation : {{ recette.tempsPreparation|date('H:i') }} heures
                </div>
            {% endif %}
            {% if (recette.tempsPreparation) %}
                <div>
                    Temps de repos : {{ recette.tempsRepos|date('H:i') }} heures
                </div>
            {% endif %}
            {% if (recette.tempsPreparation) %}
                <div>
                    Temps de cuisson : {{ recette.tempsCuisson|date('H:i') }} heures
                </div>
            {% endif %}
        </div>

        {# Show list of Regimes for this receipe #}
        <div class="col-12 text-center mt-3">
            {% for regime in recette.regime.snapshot %}
                <span class="regime">
                    {{ regime.titre }}
                </span>
            {% endfor %}
        {# </div> #}

        {# Show list of allergenes for this receipe #}
        {# <div class="col-12 text-center"> #}
            {% for allergene in recette.allergene.snapshot %}
                <span class="regime bg-danger">
                    {{ allergene.nom }}
                </span>
            {% endfor %}
        </div>


    </div>
    <div class="row max-1400 mx-auto mt-3">

        <div class="col-12 col-lg-6 p-0 px-lg-4">
            <div class="borderJade rounded-4 p-1 p-lg-4 my-3">
                <h3 class="myJade">
                    Ingrédients :
                </h3>
                <div>
                    {# {{ recette.ingredients|capitalize }} #}
                    {{ recette.ingredients|nl2br }}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 p-0 px-lg-4">
            <div class="borderJade rounded-4 p-1 p-lg-4 my-3">
                <h3 class="myJade">
                    Préparation :
                </h3>
                <div>
                    {{ recette.preparation|nl2br }}
                </div>
            </div>
        </div>
        {# <div class="myImages mealPic mx-auto">
            <img src="{{ asset('ASSETS/IMG/img8.jpg') }}" class="myImages mealPic" alt="photo tomates" srcset="">
        </div> #}

    </div>
    </div>
</article>
</div>



<div class="container-fluid py-3">
    <div class="row max-500 mx-auto">

        {# ID RECEIPE #}
        <div id="numReceipe" class="d-none">
            {{ idRecette }}
        </div>

        {# SHOW IF MESSAGE ERROR #}
        <div id="msgErr" class="col-12 text-center mt-0 mb-2 text-danger ">
            {% if noteval == 0 %}
                Si vous le souhaitez :
            {% endif %}
        </div>

        {# NOTE SELECTION #}
        <div class="col-12">
            {% if noteval == 0 %}
                <label for="note" class="form-label">Pour noter cette recette :</label>
            {% else %}
                <label for="note" class="form-label">Le {{ datemsg|date('d-m-Y') }}, vous avez noté cette recette :</label>                
            {% endif %}
        
            <div class="input-group flex-nowrap">
                <span class="input-group-text text-center align-middle text-danger" id="a1"><i class="bi bi-clipboard-heart align-middle mb-1"></i></span>
                <div class="border w-100 text-center border-2 rounded-end myApricotBG pb-0">
                    <div>
                        <i class="bi bi-star star" data-value="1"></i>
                        <i class="bi bi-star star" data-value="2"></i>
                        <i class="bi bi-star star" data-value="3"></i>
                        <i class="bi bi-star star" data-value="4"></i>
                        <i class="bi bi-star star" data-value="5"></i>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-12">

        </div>


        {# MESSAGE INPUT #}
        <div class="col-12 mt-3">
            <div class="form-outline mb-1 p-1">
                {% if noteval == 0 %}
                    <label for="message" class="form-label">Un commentaire ?</label>
                    <textarea class="form-control py-0 lh-1 mb-3" id="message" name="message" rows="3"  placeholder="Avez vous un commentaire à faire sur cette recette ?">{{ message }}</textarea>
                {% else %}
                    <label for="message" class="form-label">Vous avez commenté :</label>
                    <textarea class="form-control py-0 lh-1 mb-3" id="message" name="message" rows="3" readonly>{{ message }}</textarea>
                {% endif %}
            
            </div>
        </div>

        {# BUTTON #}
        {% if noteval == 0 %}
            <div class="text-center">
                <button class="col-4 btn btn-secondary" type="button" id="send">ENVOI</button>
            </div>
        {% endif %}
    </div>
</div>


<div id="myData" 
    data-note="{{ noteval }}">
</div>


<div class="block-100"></div>


<div class=" container">
</div>

{% endblock %}
