{% extends 'base_pages.html.twig' %}

{% block title %}Fiche de Recette{% endblock %}

{% block body %}

<!-- myCSS -->
<link rel="stylesheet" href="{{ asset('ASSETS/CSS/style_recettes.css') }}">


{# PREPARE NOTE RETRIEVAL IF EXISTS FOR THIS RECEIPE #}
{% set noteval = 0 %}
{% set message = '' %}
{% set datemsg = '' %}


{% for note in notes %}
    {% set noteval = note.note %}
    {% set message = note.avis %}
    {% set datemsg = note.dateavis %}
{% endfor %}


{# SHOW THE RECEIPE #}
<div class="p-1 p-sm-5">

    <div class="col-12 roundApricot py-2 ps-4 imgDeco">
        <h2 class="text-center ps-4 ps-lg-2 pt-4">
            FICHE DE RECETTE
        </h2>

        <h1 class="h2 text-center">
            {{ recette.titre|capitalize }}
        </h1>
    </div>    

    <article class="container-fluid borderApricot py-3 rounded-bottom fiche">
        <div class="row max-1800 mx-auto">

            {# Show this receipe's decription #}
            <div class="col-12 col-lg-6">
                <div class="max-400 mx-auto mb-3">
                    <p class="">
                        {{ recette.description|capitalize }}
                    </p>
                </div>
            </div>

            {# Show times to prepare this receipe #}
            <div class="col-12 col-lg-6">
                <div class="max-400 mx-auto mb-3">
                    {% if (recette.tempsPreparation) %}
                        <div>
                            Temps de préparation : {{ recette.tempsPreparation|date('H:i') }} heures
                        </div>
                    {% endif %}
                    {% if (recette.tempsPreparation) %}
                        <div>
                            Temps de repos : {{ recette.tempsRepos|date('H:i') }} heures
                        </div>
                    {% endif %}
                    {% if (recette.tempsPreparation) %}
                        <div>
                            Temps de cuisson : {{ recette.tempsCuisson|date('H:i') }} heures
                        </div>
                    {% endif %}
                </div>
            </div>

            {# Show list of Regimes for this receipe #}
            <div class="col-12 text-center mt-3">
                {% for regime in recette.regime.snapshot %}
                    <span class="regime">
                        {{ regime.titre }}
                    </span>
                {% endfor %}
            {# </div> #}

            {# Show list of allergenes for this receipe #}
                {% for allergene in recette.allergene.snapshot %}
                    <span class="regime bg-danger">
                        {{ allergene.nom }}
                    </span>
                {% endfor %}
            </div>

    {# ..... INGREDIENTS ................................... #}
        </div>
            <div class="row max-1400 mx-auto my-1" >

                <div class="col-12 col-lg-6 p-0 px-lg-4 mb-3">
                    <div class="borderJade rounded-4 p-1 p-lg-4 my-3 h-100">
                        <h3 class="myJade">
                            Ingrédients :
                        </h3>
                        <ul id="ingredients">
                            {# {{ recette.ingredients|nl2br }} #}
                            {# IS POPULATED VIA JAVASCRIPT #}
                        </ul>
                    </div>
                </div>

    {# ..... PREPARATION ................................... #}

                <div class="col-12 col-lg-6 p-0 px-lg-4 mb-3">
                    <div class="borderJade rounded-4 p-1 p-lg-4 my-3 h-100">
                        <h3 class="myJade">
                            Préparation :
                        </h3>
                        <ol id="preparation">
                            {# {{ recette.preparation|nl2br }} #}
                            {# IS POPULATED VIA JAVASCRIPT #}
                        </ol>
                    </div>
                </div>
                {# <div class="myImages mealPic mx-auto">
                    <img src="{{ asset('ASSETS/IMG/img8.jpg') }}" class="myImages mealPic" alt="photo tomates" srcset="">
                </div> #}

            </div>
        </div>
    </article>
</div>


{# ..... MANAGE USER COMMENT .............................. #}

<div class="container-fluid py-3">
    <div class="row max-500 mx-auto">

        {% if urlApi %}
        

        {# ID RECEIPE #}
        <div id="numReceipe" class="d-none">
            {{ idRecette }}
        </div>

        {# SHOW IF MESSAGE ERROR #}
        <div id="msgErr" class="col-12 text-center mt-0 mb-2 text-danger ">
            {% if noteval == 0 %}
                Si vous le souhaitez :
            {% endif %}
        </div>

        {# NOTE SELECTION #}
        <div class="col-12">
            {% if noteval == 0 %}
                <label for="note" class="form-label">Pour noter cette recette :</label>
            {% else %}
                <label for="note" class="form-label">Le {{ datemsg|date('d-m-Y') }}, vous avez noté cette recette :</label>                
            {% endif %}
        
            <div class="input-group flex-nowrap">
                <span class="input-group-text text-center align-middle text-danger" id="a1"><i class="bi bi-clipboard-heart align-middle mb-1"></i></span>
                <div class="border w-100 text-center border-2 rounded-end myApricotBG pb-0">
                    <div>
                        <i class="bi bi-star star" data-value="1"></i>
                        <i class="bi bi-star star" data-value="2"></i>
                        <i class="bi bi-star star" data-value="3"></i>
                        <i class="bi bi-star star" data-value="4"></i>
                        <i class="bi bi-star star" data-value="5"></i>
                    </div>
                </div>
            </div>            
        </div>


        {# MESSAGE INPUT #}
        <div class="col-12 mt-3">
            <div class="form-outline mb-1 p-1">
                {% if noteval == 0 %}
                    <label for="message" class="form-label">Un commentaire ?</label>
                    <textarea class="form-control py-0 lh-1 mb-3 msg" id="message" name="message" rows="3"  placeholder="Avez vous un commentaire à faire sur cette recette ?">{{ message }}</textarea>
                {% else %}
                    <label for="message" class="form-label">Vous avez commenté :</label>
                    <textarea class="form-control py-0 lh-1 mb-3 msg" id="message" name="message" rows="3" readonly>{{ message }}</textarea>
                {% endif %}
            
            </div>
        </div>

        {# BUTTON #}
        {% if noteval == 0 %}
            <div class="text-center">
                <button class="col-4 btn btn-secondary" type="button" id="send">ENVOI</button>
            </div>
        {% endif %}
        
        {% else %}

            {# SHOW IF NOT CUSTOMER #}
            <div id="msgErr" class="col-12 text-center mt-0 mb-2 text-danger ">
                {% if noteval == 0 %}
                    Pour noter cette recette ou laisser un commentaire, vous devez être connecté et enregistré comme client.
                {% endif %}
            </div>           

        {% endif %}
    </div>
</div>

<div class="text-center  ">
    <img src="{{ asset('ASSETS/IMG/couverts.png') }}" alt="Image de couverts" class="couverts">
</div>

{# ..... SHOW OTHER CUSTOMERS COMMENTS ...................... #}

{% if (comments is not empty) %}
    <div class="container-fluid py-3">
        <div class="row max-500 mx-auto">
                <div class="col-12 mb-2 myJade">
                    Les avis de mes clients :
                </div>
                {% for comment in comments %}
                    <div class="col-12 border py-2">
                        <p>
                            <span class="text-secondary me-3 small">{{ comment.date_avis|date('d-m-Y') }}</span>

                            {% if comment.note > 0 %}                        
                                {% for I in 1..comment.note %}
                                    <i class="bi bi-star-fill myJade"></i>
                                {% endfor %}
                            {% endif %}

                        </p>
                        <p>{{ comment.avis }}</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endif %}


<div id="myData" 
    data-note = "{{ noteval }}"
    data-url = "{{ urlApi }}"
    data-ingredients = "{{ recette.ingredients|serialize(format = 'json') }}"
    data-preparation = "{{ recette.preparation|serialize(format = 'json') }}"
>
</div>


<div class="block-100"></div>


<div class=" container">
</div>

{# include my scripts #}
<script src="{{ asset('ASSETS/JVS/script.js') }}"></script>

{% endblock %}
