{% extends 'base_pages.html.twig' %}

{% block title %}Mes Recettes{% endblock %}

{% block body %}

<!-- myCSS -->
<link rel="stylesheet" href="{{ asset('ASSETS/CSS/style_recettes.css') }}">

<article class="container-fluid">
    <div class="row pb-0 mb-0">

        <h1 class="col-12 text-center ">
            MES RECETTES
        </h1>


        <div class="myImages mealPic mx-auto">
            <img src="{{ asset('ASSETS/IMG/img8.jpg') }}" class="myImages rounded-5 " alt="photo tomates" srcset="">
        </div>

        <h2 class="h2 text-center positUp">
            Soyons gourmands !
        </h2>
    </div>
</article>


{% if app.user %}
{# USER IS ALREADY CONNECTED #}
    {% if app.user.estClient %}
        {# IF USER HAS BEEN TAGGED AS A CUSTOMER #}
        <div class="p-1">
            <article class="container-fluid mx-auto myWidth my-0 mt-0 px-4 pb-0 pt-4 roundApricot borderJadeTop">
                <div class="row ">
                    <div class="col ">
                        <h2 class="text-end text-sm-center">
                            Bonjour {{ app.user.prenom|capitalize }}, 
                        </h2>
                        <div class="myJade px-4 text-justify">
                            <p class="text-justify">
                            Les recettes que vous voyez ici, je les ai sélectionnées tout spécialement pour vous, en tenant compte de nos entretiens.
                            </p>
                        </div>
                    </div>    
                </div>

                <div class="row mb-0">
                    <div class = "col-12 col-sm-6">
                        <p class="text-center mb-0 text-white">
                            Rappel, vos régimes :
                        </p>
                        <ul class = "px-sm-5 mb-0">
                            {% if (app.user.regime|length == 0) %}
                                <li>
                                    Aucun régime prescrit.
                                </li>
                            {% else %}
                                {% for item in app.user.regime %}
                                    <li>
                                        {{ item|capitalize }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>

                    <div  class = "col-12 col-sm-6">
                        <p class="text-center mb-0 text-white">
                            Vos allergies connues :
                        </p>
                        <ul class = "px-sm-5 mb-0">
                            {% if (app.user.allergene|length == 0) %}
                                <li>
                                    Aucune allergie connue.
                                </li>
                            {% else %}
                                {% for item in app.user.allergene %}
                                    <li>
                                        {{ item|capitalize }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </article>

            <div class="container-fluid mx-auto myWidth my-0 px-4 py-0 roundApricotBottom borderJadeBottom">
            </div>
        </div>

    {% endif %}
{% endif %}


<div class="container">
    <div class="row align-content-center">

        {# LOOP ON THE DIFFERENT RECEIPES -------------------------------------- #}
        {% for recette in lstRecettes %}

            {# SHOW 1 RECEIPE #}
            <div class="col-12 col-lg-6 col-xl-4 text-center my-2 p-3" >
                {# prepare link if click #}
            
                <a type="button0" class="recette p-2 mx-auto h-100 card" href="{{ path('app_detail_recette',{'id': recette.id}) }}">

                    <img src="{{ asset('ASSETS/IMG/img10b.jpg') }}" alt="Photo nourriture" class="myImages rounded" >

                    <div class="card-body">
                    <h2 class="mb-0 px-0 recetteTitre card-title">
                        {{ recette.titre|capitalize }} {# ex: tarte aux framboises #}
                    </h2>

                    {# <img src="{{ asset('ASSETS/IMG/arab2.png') }}" class="arab1 mb-3" alt="" srcset=""> #}
                    <div class="text-secondary">
                        {{ recette.description|capitalize }} {# ex: cette tarte croustillante en 30 minutes #}
                    </div>
                    </div>

                    <div class="border mx-5 pb-1">
                        {% set avg = recette.avgNotes|round %}
                        {# {{ avg }} #}
                        {% if avg > 0 %}
                            {% for i in 1..avg %}
                                <i class="bi bi-star-fill myJade"></i>
                            {% endfor %}
                        {% endif %}

                        <span class="text-secondary">
                            ({{ recette.nbNotes }} vote{% if recette.nbNotes > 1 %}s{% endif %})
                        </span>

                    </div>


                </a>

            </div>

            {% endfor %}
            {# /LOOP ON THE DIFFERENT RECEIPES ------------------------------------- #}

        </div>
        </div>

    </div>
</div>



<div class="block-100"></div>


<div class=" container">
</div>

{# include my scripts #}
<script src="{{ asset('ASSETS/JVS/script.js') }}"></script>

{% endblock %}
