<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
 
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
            {# include bootstrap CSS #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

            {# myCSS #}
            <link rel="stylesheet" href="{{ asset('ASSETS/CSS/style.css') }}">
            <link rel="stylesheet" href="{{ asset('ASSETS/CSS/responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('ASSETS/CSS/animate.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {# include bootstrap JVS #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


        {% endblock %}
    </head>
    <body>

        {#         -----        N A V B A R        -----             #}
        <header class="container-fluid myHead sticky-top">
         
            <div class="row ">
                <div class="col d-block myHeader mt-0">
                {% include "includes/_nav.html.twig" %}
                </div>
            </div>

        </header>

        {% block body %}{% endblock %}
        
        {# include my scripts #}
        <script src="{{ asset('ASSETS/JVS/script.js') }}"></script>


        <footer>
            <div class="text-center">
                <p>
                    Sandrine Coupart, 6 rue des salsifis, 14118 Caen
                </p>

                <p>
                    Téléphone : <a title="téléphone" href="tel:+33601020304"><i class="bi bi-telephone myTel"></i></a>
                    {# <div type="button" class="btn btn-outline-light"> #}

                    - Email : <a title="email" href="mailto:sandrine.coupart@gmail.com"><i class="bi bi-envelope-at myMail"></i>
                    </a>
                    </div>
                </p>
            </div>
            
            <div class="text-center">
                mentions légales : <a href="{{ asset('ASSETS/legal/mentions_legales.pdf') }}">télécharger</a>, 
                politique de confidentialité : <a href="{{ asset('ASSETS/legal/confidentialite.pdf') }}">télécharger</a>
            </div>
        </footer>

    </body>
</html>
